body {
	margin: 0 0;
	background-color: #D9E7FC;
}

.white-background {
	background-color: #FFFFFF;
	width: 100%;
	border-color: #FFFFFF;
}


.logo-title {
    font-family: 'Lobster', cursive;
    background-color: #FF9800;
}

.parallax img {
	display: block;
}


.groupdesc-title { 
	color: grey;
	font-size: 12px;
}

.groupdesc-subtitle {
	color: black;
	font-size: 18px;
}

.mygroupdesc-title { 
	color: white;
	font-size: 12px;
}

.mygroupdesc-subtitle {
	color: white;
	font-size: 18px;
}

.prof-name {
	color: grey;
	font-size: 30px;
}

.profile-box {
	padding-top: 20px;
	padding-bottom: 20px;
}

.seeMore {
	color: #3366BB;
	cursor: pointer;
}

.my-gallery-class {
  margin: 0 auto;
}